@font-face {
  font-family: "sinCity";
  src: url(./assets/fonts/CabinSketch-Regular.ttf);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url(./assets/image/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: "sinCity", sans-serif;
  font-weight: 200;
}
* {
  box-sizing: border-box;
}
#root {
  position: relative;
}
.wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  padding: 50px;
}
.header {
  padding: 20px;
  margin: 20px 0 50px;
  border-radius: 10px;
  z-index: 3;
}

.wrapper h1 {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  cursor: default;
  white-space: nowrap;
  text-shadow: white 0 0 20px;
  user-select: none;
}
.passwordGeneratorContainer {
  display: grid;
  justify-content: center;
  border-radius: 10px;
  z-index: 3;
}

.generatedPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 80px;
  padding: 20px;
  position: relative;
  margin: 20px;
  box-shadow: inset white 0 0 20px;
  transition: all 0.3s linear;
}
.generatedPassword:hover {
  border: 3px solid white;
  box-shadow: inset black 0 0 20px;
  transition: all 0.3s linear;
}
.generatedPassword p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  width: 200px;
}
.copyIcon {
  color: white;
  margin: 10px;
  position: relative;
}
.copyIcon:hover {
  cursor: pointer;
}
.copyIcon:hover ~ .hiddenText {
  visibility: visible;
  bottom: 70%;
  opacity: 1;
}
.hiddenText {
  visibility: hidden;
  width: 64px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 60%;
  left: 70%;
  transition: 0.4s linear;
  opacity: 0;
}
.hiddenText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.options {
  display: block;
  padding: 20px;
}
.options h2 {
  color: white;
  display: flex;
  justify-content: center;
  cursor: default;
  text-shadow: white 0 0 20px;
  user-select: none;
}
.lengthWrapper {
  display: block;
  padding: 10px;
  height: 80px;
}
.lengthWrapper label {
  color: white;
  display: block;
  text-shadow: white 0 0 7px;
  user-select: none;
  position: relative;
}
.lengthWrapper input {
  display: none;
}
.lengthWrapper label input:checked ~ span,
.radio label input:checked ~ span {
  background: white;
  box-shadow: inset black 0 0 3px 4px;
}
.lengthWrapper label span {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  box-shadow: inset white 0 0 5px;
  left: calc(50% - 30px / 2);
  top: 150%;
  cursor: pointer;
  border: 3px solid white;
}
.radio label span {
  position: absolute;
  width: 15px;
  height: 30px;
  background: transparent;
  box-shadow: inset white 0 0 5px;
  left: calc(50% - 15px / 2);
  top: 150%;
  cursor: pointer;
  border: 1px solid white;
  border-radius: unset;
}

form {
  display: block;
}
.length {
  display: flex;
  justify-content: center;
}
.btnContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.btnContainer button {
  background: rgba(0, 0, 0, 0.49);
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 40px;
  color: white;
  padding: 8px 24px;
  cursor: pointer;
  box-shadow: inset white 0 0 10px;
  transition: all 0.3s;
}
.btnContainer button:hover {
  border: 3px solid white;
  box-shadow: inset black 0 0 10px;
  transition: all 0.3s linear;
}
.checkBoxs {
  display: flex;
  justify-content: center;
}
.checkBoxs input {
  transform: scale(2);
}

/*media querys*/
@media screen and (max-width: 375px) {
  .passwordGeneratorContainer {
    width: 300px;
    margin: 0 auto;
  }
  .generatedPassword {
    margin: 20px auto;
    width: 240px;
  }
  .generatedPassword p {
    font-size: 1rem;
  }
  .lengthWrapper {
    padding: 5px;
  }
  .header h1 {
    font-size: 1.5rem;
  }
  .options h2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 50px 0 10px;
  }
}

@media screen and (max-width: 280px) {
  .passwordGeneratorContainer {
    width: 265px;
  }
  .checkBoxs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .lengthWrapper label {
    text-align: center;
    white-space: nowrap;
  }
}
